extends layout

block content
    h1= title

    // Убираем кнопку и открываем диалоговое окно при загрузке страницы
    dialog(id='myModal', open)
        form(method='POST', action=`/catalog/book/${book}/take`)
            label(for='username')
                | Введите ваше имя:
            input(type='text', id='username', name='username')

            input(type='submit', value='Отправить')

    script.
        const dialog = document.getElementById('myModal');

        dialog.querySelector('button').onclick = function() {
            dialog.close();
        };